body{
    background-image: url('dark_wood.png');
}

a{
    color: white; font-weight: bold; font-size: 24px;
}

div{
    background-color: #8E41D5;
    
}


p{
    color: white; font-weight: bold;
}

h3{
    font-size: 40px; font-family: "Passion One"; 
    color: #FFBC00;
    margin-bottom: 0px;
}


#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;

}

#Header h1{
    font-size: 60px; font-family: "Passion One"; 
    color: #FFBC00; font-weight: bold;
    outline: 5px dotted #FFBC00;
}

#LeftNav{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}

#LeftNav img{
    background-color: red;
    opacity: 0.5;
    
}

#LeftNav ul{
    text-decoration: underline overline;
}

#LeftNav h3{

text-shadow: 2px 2px white;

}

#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    padding: 15px;
    filter: grayscale(100%);
}

#Footer{
    border:solid 8px black;
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}